table, th, td {
    border: 1px solid;
  }

.tableColumnHeader {
    font-size: 1.5rem;
}

#scope {
        margin-left: auto;
        margin-right: auto;
}

.tableHeading {
    font-size: 1.5rem;
    position: relative;
}

.svgBackButton {
 
}

